/* http                ://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License              : none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin               : 0;
  padding              : 0;
  border               : 0;
  font-size            : 100%;
  font                 : inherit;
  vertical-align       : baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display              : block;
}
body {
  line-height          : 1;
}

blockquote {
  text-transform       : uppercase;
  font-family          : 'Coming Soon', cursive;
  font-size            : 130%;
  float                  :right;
  width                : 20%;
  height: 20%;
margin                 : 0px 15px 15px 15px;
padding                : 10px;
  border-radius        : 20px;
  background-image     : url("../../images/notebook.png");
  background-size      : 100%;
}

h1 {
  text-transform       : uppercase;
  letter-spacing       : 0.15em;
  font-size            : 90px;
  font-weight          : bold;
}

h2 {
  font-size            : 1.5em;
  font-style           : italic;
  margin-bottom        : 10px;
}

input[type             ="text"], textarea {
  background-color     : #00FF00; 
}

p {
  font-size            : 20px;
  font-style           : italic;
  color                : #2700FF;
  margin-bottom        : 10px;
}

p.alt {
  color                : #9B14B3;
}

li {
  font-size: 16px;
  font-family          : 'Coming Soon', cursive;
  font-weight          : bold;
  text-decoration      : line-through;
  color                : #000000;
  margin-bottom        : 2px;
}

img.align-center {
  display              :block;
  margin               : auto auto;
}

img.medium {
  width                : 30%;
  height               : 30%;
}

#messageArea {
  border               : 8px dashed #00FFFF;
  padding              : 20px;
}

.pinkButton {
  box-shadow           :inset 0px 1px 0px 0px #fbafe3;
  background           :-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d));
  background           :linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
  background-color     :#ff5bb0;
  border-radius        :6px;
  border               :1px solid #ee1eb5;
  display              :inline-block;
  cursor               :pointer;
  color                :#ffffff;
  font-family          :Arial;
  font-size            :15px;
  font-weight          :bold;
  padding              :6px 24px;
  text-decoration      :none;
  text-shadow          :0px 2px 0px #c70067;
}

.purpleButton {
  box-shadow           :inset 0px 1px 0px 0px #e184f3;
  background           :linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
  background-color     :#c123de;
  border-radius        :6px;
  border               :1px solid #a511c0;
  display              :inline-block;
  cursor               :pointer;
  color                :#ffffff;
  font-family          :Arial;
  font-size            :15px;
  font-weight          :bold;
  padding              :6px 24px;
  text-decoration      :none;
  text-shadow          :0px 2px 0px #9b14b3;
}

#confetti {
  display              : none;
  position             : absolute;
  width: 100%;
  height: 50%;
}

#fire {
  display              : none;
  position: absolute;
  width: 100%;
  height: 50%;
}

#sadface {
  display              : none;
  width: 30%;
  height: 40%;
}

/************************
WINNING STYLE ***********/
.winning {
  background-color     : #FD90FF;
  color                : #2700FF;
}

h1.winning {
  font-size : 150px;
}

/************************
LOSING STYLE ************/
.losing {
  background-color     : #D20D0D;
  color: Yellow;
}

h1.losing {
  font-size            : 150px;
}

}

ol, ul {
  list-style           : none;
}
blockquote, q {
  quotes               : none;
}
blockquote             :before, blockquote:after,
q                      :before, q:after {
  content              : '';
  content              : none;
}
table {
  border-collapse      : collapse;
  border-spacing       : 0;
}